// Make page header alignment consistent with widget page header alignment
.universal-wrapper h1 {
  text-align: center;
}

// Center the CTA shortcode button
.cta-group {
  justify-content: center;
}

/* 隐藏幻灯片左侧和右侧的导航箭头 */
.carousel-control-prev,
.carousel-control-next {
  display: none !important;
}

/* 如果您还想隐藏底部的小圆点（指示器），可以加上这段 */
/*
.carousel-indicators {
  display: none !important;
}
*/